.app-answer-wait
  height: 50vh
  text-align: center
  color: #f8f8f2
  text-shadow: 1px 1px #030303
  display: flex
  align-items: center
  justify-content: space-around

.app-spinner
  height: 20%
  width: 20%
