<div class="app-content">

    <md-card class="app-input-section">
      <material-datepicker [(date)]="D1">D1</material-datepicker>
      <material-datepicker [(date)]="D2">D2</material-datepicker>
      <br>
      <br>
      <md-input-container>
        <input mdInput [(ngModel)]="IID" required maxlength="20">
        <md-placeholder><i class="material-icons app-input-icon">android</i> IID</md-placeholder>
      </md-input-container>
      <md-input-container>
        <input mdInput [(ngModel)]="PrivateKey"  placeholder="PrivateKey" maxlength="20">
      </md-input-container>
      <md-select [(ngModel)]="Rpt.name" placeholder="Report" >
        <md-option *ngFor="let rpt of app.Rpts" [value]="rpt.name">{{ rpt.descr }}</md-option>
      </md-select>
      <md-select [(ngModel)]="Format.name" placeholder="Export Format" >
        <md-option *ngFor="let fmt of app.Formats" [value]="fmt.name">{{ fmt.descr }}</md-option>
      </md-select>
    </md-card>

    <div class="app-answer" [ngSwitch]="status" [style.background-image]="'url(' + bgURL + ')'">
        <app-answer *ngSwitchCase="2"></app-answer>
        <app-answer-wait *ngSwitchCase="1">></app-answer-wait>
        <app-answer-error *ngSwitchDefault></app-answer-error>
     </div>

    <div class="app-statusbar" align="bottom">
        <button md-button (click)="httpFetchRpt()">WebBroker [{{Rpt.name}}]</button>
        <button md-button (click)="xmppGetRpt()">XMPP [{{Rpt.name}}]</button>
        <button md-button (click)="clearRpt()">Clear</button>
        <button md-button (click)="sayHelo()">Helo</button>
    </div>

</div>
