<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-list class="app-list">
    <md-list-item *ngFor="let rpt of Rpts">
      <h3 md-line>{{rpt.name}}</h3>
      <p md-line class="demo-secondary-text">{{rpt.descr}}</p>
    </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <!--<button class="app-icon-button" (click)="sidenav.toggle()">-->
      <!--<i class="material-icons app-toolbar-menu">menu</i>-->
    <!--</button>-->
    <!--{{title}}-->
    <span class="app-toolbar-filler"></span>
    <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
  </md-toolbar>

  <div class="app-content">
    <md-card class="app-input-section">
      <md-input [(ngModel)]="IID">
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> IID
        </md-placeholder>
        <!--<md-hint align="end">-->
          <!--{{IID.length}} / 50-->
        <!--</md-hint>-->
      </md-input>

      <md-input [(ngModel)]="PrivateKey"  placeholder="PrivateKey" maxlength="50">
        <!--<md-hint align="end">-->
          <!--{{PrivateKey.length}} / 50-->
        <!--</md-hint>-->
      </md-input>

      <!--<material-datepicker placeholder="D1">-->
        <!--<md-hint align="begin">From Date</md-hint>-->
      <!--</material-datepicker>-->

      <!--<md-input [(ngModel)]="D1"  placeholder="D1" maxlength="50">-->
        <!--<md-hint align="end">-->
          <!--{{D1.length}} / 50-->
        <!--</md-hint>-->
      <!--</md-input>-->

      <md-select [(ngModel)]="Format.name" placeholder="Export Format" >
        <md-option *ngFor="let fmt of Formats" [value]="fmt.name">
          {{ fmt.descr }}
        </md-option>
      </md-select>

      <md-select [(ngModel)]="Rpt.name" placeholder="Report" >
        <md-option *ngFor="let rpt of Rpts" [value]="rpt.name">
          {{ rpt.descr }}
        </md-option>
      </md-select>


    </md-card>

    <md-card class="example-card">
      <!--<md-card-header>-->
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <!--<md-card-title>{{currentRpt.name}}</md-card-title>-->
        <!--<md-card-subtitle>{{currentRpt.params}}</md-card-subtitle>-->
      <!--</md-card-header>-->
      <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
      <md-card-content *ngIf="currentRpt.loaded==0">
        <h1>{{currentRpt.error}}</h1>
      </md-card-content>
      <md-card-content *ngIf="currentRpt.loaded==1">
        <md-spinner class="app-spinner"></md-spinner>
      </md-card-content>
      <md-card-content *ngIf="currentRpt.loaded==2">
        <pre>
{{currentRpt.content}}
        </pre>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="fetchRpt()">Reload</button>
        <button md-button>Copy</button>
      </md-card-actions>
    </md-card>
<!--
    <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>

    <md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card>

    <md-card>
      <md-radio-button name="symbol">Alpha</md-radio-button>
      <md-radio-button name="symbol">Beta</md-radio-button>
      <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
    </md-card>

    <md-card class="app-input-section">
      <md-input placeholder="First name"></md-input>

      <md-input #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="end">
          {{nickname.characterCount}} / 50
        </md-hint>
      </md-input>

      <md-input>
        <md-placeholder>
          <i class="material-icons app-input-icon">android</i> Favorite phone
        </md-placeholder>
      </md-input>

      <md-input placeholder="Motorcycle model">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
      </md-input>
    </md-card>

    <md-card>
      <md-list class="app-list">
        <md-list-item *ngFor="let food of foods">
          <h3 md-line>{{food.name}}</h3>
          <p md-line class="demo-secondary-text">{{food.rating}}</p>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card>
      <md-spinner class="app-spinner"></md-spinner>
      <md-spinner color="accent" class="app-spinner"></md-spinner>
    </md-card>

    <md-card>
      <label>
        Indeterminate progress-bar
        <md-progress-bar
          class="app-progress"
          mode="indeterminate"
          aria-label="Indeterminate progress-bar example"></md-progress-bar>
      </label>

      <label>
        Determinate progress bar - {{progress}}%
        <md-progress-bar
          class="app-progress"
          color="accent"
          mode="determinate"
          [value]="progress"
          aria-label="Determinate progress-bar example"></md-progress-bar>
      </label>
    </md-card>

    <md-card>
      <md-tab-group>
        <md-tab label="Earth">
          <p>EARTH</p>
        </md-tab>
        <md-tab label="Fire">
          <p>FIRE</p>
        </md-tab>
      </md-tab-group>
    </md-card>

    <md-card>
      <md-icon>build</md-icon>
    </md-card>

    <md-card>
      <button md-button [md-menu-trigger-for]="menu">
        MENU
      </button>
    </md-card>

    <md-menu #menu="mdMenu">
      <button md-menu-item>Lemon</button>
      <button md-menu-item>Lime</button>
      <button md-menu-item>Banana</button>
    </md-menu>

    <md-card>
      <p>Last dialog result: {{lastDialogResult}}</p>
      <button md-raised-button (click)="openDialog()">DIALOG</button>
      <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
    </md-card>

-->
  </div>

</md-sidenav-layout>


<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>

